{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="../static/style.css"></link> -->
<title>Homeless Hack</title>
</head>
  <body>
    <div id="container">
    {% if data.number %}
    <h3 style="color:red;">{{data.number}}</h3>
    {%endif%}
  <h3>Homeless Hack for Homeless People</h3>
  
  <form action="/verify" method="POST">
  {% csrf_token %}

  <input class="inputs" name="verify" type="text"  placeholder="Enter Verification Code"></input><br>
  <br>
  <button class="button">SUBMIT</button>
  </form>
  </div>
</html>
